/*to top button*/
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(0, 64, 255); 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #555; 
  }

  /*image carousel*/
  * {box-sizing:border-box}

/*center images*/
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  background-color: rgba(34, 61, 192);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover */
.prev:hover, .next:hover {
  background-color: rgba(126, 126, 126, 0.8);
}

/* Caption text */
.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/9 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #4231a0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
   
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
/* Main body */
body {
    font-family: Georgia, serif;
    background-color: rgb(255, 255, 255);
    color: white;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'nav nav nav nav nav nav'
    'header header header header header header'
    
    'main main main main main main'
    'footer footer footer footer footer footer';
    grid-gap: 0.5em;
    padding: 0.5em;
    max-width: 75%;
    margin: auto;
}

header {
    grid-area: header;
    background-color: rgb(34, 61, 192);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 1em;
    border-radius: 10px;
}

nav {
    grid-area: nav;
    background-color: rgb(34, 61, 192);
    color: rgb(255, 255, 255);
    max-height: fit-content;
    border-radius: 10px;
    padding: 1em;
}
.hlink {
    color: rgb(255, 255, 255);
}
nav ul {
    text-align: center;
    padding: 0;
}

nav li {
    list-style-type: none;
    display: inline;
    font-weight: bold;
    padding: 1em;
}

.icons {
    max-width: 5%;
    margin: auto;
    padding-left: 1em;
}

a {
    color: rgb(0, 4, 244);
    text-decoration: none;
}

.headertext {
    padding-left: 0.5em;
    font-size: 1.5em;
    background-color: rgb(105, 138, 152);
    color: rgb(0, 0, 0);
    padding: 0.5em;
    border-radius: 10px;
}

main {
    grid-area: main;
    padding: 1em;
    background-color: rgb(224, 224, 224);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

footer {
    grid-area: footer;
    background-color: rgb(34, 61, 192);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1em;
    border-radius: 10px;
}

img {
    max-width: 50%;
    height: auto;
    margin: 1em 0;
    clear: both;
}

.cleared-image {
    display: block;
    margin: 1em auto;
    clear: both;
}

/* First breakpoint - Tablet */
@media only screen and (max-width: 900px) {
  .grid-container {
      grid-template-areas:
          'nav nav nav nav nav nav'
          'header header header header header header'
          'aside aside aside aside aside aside'
          'main main main main main main'
          'footer footer footer footer footer footer';
  }

    img {
        max-width: 80%;
        margin: 1em auto;
    }
}

/* Second breakpoint - Mobile */
@media only screen and (max-width: 600px) {
  .grid-container {
      grid-template-areas:
          'nav nav nav nav nav nav'
          'header header header header header header'
          'aside aside aside aside aside aside'
          'main main main main main main'
          'footer footer footer footer footer footer';
  }

    img {
        max-width: 50%;
        margin: 1em auto;
    }

    .icons {
        max-width: 15%;
        display: inline;
        margin-left: 5%;
        float: left;
    }

    nav li {
        display: block;
        margin: auto;
        padding: 0.2em;
        text-align: center;
    }

    .flag {
        max-width: 50%;
        margin-left: 2em;
    }
}
